@model Pizzeria_InForno.Models.Articoli

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Articoli</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdArticolo" />
            <div class="form-group">
                <label asp-for="NomeArticolo" class="control-label"></label>
                <input asp-for="NomeArticolo" class="form-control" />
                <span asp-validation-for="NomeArticolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Immagine" class="control-label"></label>
                <input type="file" asp-for="Immagine" class="form-control" />
                <span asp-validation-for="Immagine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempoConsegna" class="control-label"></label>
                <input asp-for="TempoConsegna" class="form-control" />
                <span asp-validation-for="TempoConsegna" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Ingredienti" class="control-label"></label>
                <input asp-for="Ingredienti" class="form-control" />
                <span asp-validation-for="Ingredienti" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

